body {
  padding-top: 5rem;
}

div.info {
  float: left;
}

div.vertex {
  border: 1px solid #686868;
  margin: 0 2px 0 2px;
  padding-bottom: 3px;
}

div.area-info {
  border: 1px solid #686868;
  margin: 4px 2px 0 2px;
  padding-bottom: 3px;
}

