body {
  padding-top: 5rem;
}
.starter-template {
  //padding: 3rem 1.5rem;
  //text-align: center;
}

div.info {
  float: left;
}

div.vertex {
  border: 1px solid #686868;
  margin: 0 2px 0 2px;
}

div.area-info {
  border: 1px solid #686868;
  margin: 4px 2px 0 2px;
}

